*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: sans-serif;
    font-size: 20px;
}

.content{
    background-color: rgb(118, 118, 216);
    margin:  270px auto;
    width: 30%;
    padding: 2%;
    color: white;
    border-radius: 20px;
}

#correctoIncorrecto{
    background-color: transparent;
    position: absolute;
    z-index: 4;
    font-size: 50px;
    border-style: none;
    position: absolute;
    top: 200px;
    left: 555px;

}

#puntos{
    background-color: transparent;
    color:white;
    border-style: none;
    padding: 0px 20px 0px 20px;
    width: 3%;
    overflow: hidden;
    font-size: 20px;
    margin: -10px 0px 0px 340px;
    display: block;
    font-family: sans-serif;
}

#maxPunto{
    display: block;
    float: right;
    font-size: 20px;
    width: 0%;
    margin: -24px 30px 0px 0px;
    padding: 1px;
    display: block;
}

#pregunta{
    background-color: red;
    padding: 4%;
    border-radius: 20px  20px 0px 0px;
}

#respuestas{
    background-color: orange;
    padding: 4%;
}

#comprobarBoton{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-style: none;
    border-radius: 0px 0px 20px 20px;
    transition-duration: .1s;
}
    #comprobarBoton:hover{
        background-color:black;
        color: white;
    }